<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/personajes.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Detalles de personaje</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light">
    <h1 style="color: black; border-color: white;border-radius: 3px;">Disney</h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="active linkdelnav" href="/">Home <span class="sr-only">(current)</span></a>
        </div>
    </div>
</nav>

<div class="testbox">
    <br>
    <br>
    <img img th:src="${'/foto/personaje?id='+ personaje.id}" style="margin-left: 35%;width: 150px;height: 100px">

    <br>
    <br>
    <p th:text="'Nombre:     '+${personaje.nombre}"></p>

    <br>
    <p th:text="'Edad:     '+${personaje.edad}"></p>

    <br>
    <p th:text="'Peso:     '+${personaje.peso}"></p>

    <br>
    <p th:text="'Historia:     '+${personaje.historia}"></p>

    <br>
    <p th:text="'Peliculas o series de las que participa:'+${personaje.peliculaOSerie}"></p>
</div>

<div class="almedio">
    <a type="button" class="btn btn-primary" th:href="@{/characters/editar-personaje}+'?id='+${personaje.id}">Editar personaje</a>
    <a type="button" class="btn btn-warning" th:href="@{/characters/eliminar-personaje}+'?id='+${personaje.id}">Eliminar personaje</a>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>